<h3><%= jet.name %></h3>
<p>Fly with <strong><%= jet.pilot_name %></strong></p>
<p>Up to <strong><%= jet.capacity %></strong></p>
<p>Owned by <strong><%= jet.user.first_name %> <%= jet.user.last_name %></strong></p>
