<div class="container m-3">
<%= simple_form_for [ @user, @jet ] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :pilot_name %>
  <%= f.input :capacity %>
  <%= f.input :origin %>
  <%= f.input :price %>
  <%= f.submit "Submit my Jet", class: "btn btn-info" %>
<% end %>
</div>

<div class="w-100 d-flex justify-content-around mb-5">
    <%= link_to 'Back to Home', :root, class: "btn btn-info" %>
</div>