
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1474302770737-173ee21bab63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1564&q=80">
    Our Elite Fleets
</div>

<div class="container m-3">
  <div style="display:inline-block">

    <%= form_tag jets_path, method: :get do %>
    <%= text_field_tag :departure,
        params[:departure],
        class: "form-control",
        placeholder: "departure"
    %>

    <%= text_field_tag :arrival,
        params[:arrival],
        class: "form-control",
        placeholder: "arrival"
    %>

    <%= number_field_tag :passengers,
        params[:passengers],
        class: "form-control",
        placeholder: "passengers"
    %>

    <%= date_field_tag :start_date,
        params[:start_date],
        class: "form-control",
        placeholder: "start_date"
    %>

    <%= date_field_tag :end_date,
        params[:end_date],
        class: "form-control",
        placeholder: "end_date"
    %>

    <%= submit_tag 'Search', class: "btn btn-primary" %>
    <% end %>
  </div>
  <ul>
    <% @jets.each do |jet| %>
      <li><%= link_to jet.name, jet_path(jet) %></li>
    <% end %>
  </ul>
</div>
