<div class="container m-3">
  <h3><strong>Enter your jet details</strong></h3>
  <%= simple_form_for (@jet) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :pilot_name %>
    <%= f.input :capacity %>
    <%= f.input :origin %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>

<div class="w-100 d-flex justify-content-around mb-5">
    <%= link_to 'Back to Homepage', :root, class: "btn btn-info" %>
</div>