<h1><%= @jet.name %></h1>
<p>Description: <%= @jet.description %></p>
<p>Pilot: <strong><%= @jet.pilot_name %></strong></p>
<p>Capacity: up to <strong><%= @jet.capacity %></strong> passengers</p>
<p>Jet Owner: <strong><%= @user.first_name %> <%= @user.last_name %></strong></p>