<div class="jet-card m-4 row justify-content-md-center">
<div class="jet-image col-12 col-md-8 mt-3">
  <%= cl_image_tag @jet.photo.key, height: 400, width: 900, crop: :fill %>
  <div class="jet-info-card">
    <div class="jet-info m-4">
      <h1><%= @jet.name %></h1>
      <p>Description: <%= @jet.description %></p>
      <br>
      <p>Pilot: <strong><%= @jet.pilot_name %></strong></p>
      <p>Capacity: up to <strong><%= @jet.capacity %></strong> passengers</p>
      <p>Jet Owner: <strong><%= @user.first_name %> <%= @user.last_name %></strong></p>
    </div>
    <div class="price-owner">
      <h2 class="jet-pricing"><p>$<%= @jet.price %></p></h2>
    </div>      
      <%= cl_image_tag @user.photo.key, height: 100, width: 100, crop: :fill, class: "avatar-bordered" %>
  </div>
</div>


  <div class="jet-booking-form col-6 col-md-4">

    <%= simple_form_for(@booking) do |f| %>
        <%= f.input :start_date, as: :string, input_html: { class: 'date-field' } %>
        <%= f.input :end_date, as: :string, input_html: { class: 'date-field' }  %>
        <%= f.input :passengers %>
        <%= f.input :destination %>
        <%= f.hidden_field :total_price, :value => @booking.jet.price %>
        <%= f.hidden_field :booking_status, :value => "Unconfirmed" %>
        <%= f.hidden_field :jet_id, :value => @booking.jet.id %>
        <%= f.hidden_field :user_id, :value => @booking.jet.user.id %>
        <%= f.submit %>
      <% end %>
  </div>
</div>

<div class="w-100 d-flex justify-content-around mb-5">
  <%= link_to 'Back to Browse', jets_path, class: "btn btn-info" %>
</div>