<h1><%= @jet.name %></h1>

<p>Description: <%= @jet.description %></p>
<p>Pilot: <strong><%= @jet.pilot_name %></strong></p>
<p>Capacity: up to <strong><%= @jet.capacity %></strong> passengers</p>
<p>Jet Owner: <strong><%= @user.first_name %> <%= @user.last_name %></strong></p>

<%= simple_form_for(@booking) do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :passengers %>

  <%= f.hidden_field :total_price, :value => @jet.price%> <!-- CORRECT THIS!! -->
  <%= f.hidden_field :booking_status, :value => "Unconfirmed" %>
  <%= f.hidden_field :destination, :value => "HELLO" %> <!-- CORRECT THIS!! -->
  <%= f.hidden_field :jet_id, :value => @jet.id %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.submit %>
<% end %>

 t.date "start_date"
 