<h3>Your booking details</h3>

<p>Booking status: <%= @booking.booking_status %></p>
<p>From: <%= @booking.jet.origin %></p>
<p>To: <%= @booking.destination %></p>
<p>Start date: <%= @booking.start_date %></p>
<p>End date: <%= @booking.end_date %></p>
<p>Passengers: <%= @booking.passengers %></p>
<p>Total price: $ <%= @booking.total_price %></p>
