<div class="container m-3">
  <h3>Booking details</h3>

  <div class="booking-form">
    <p>Jet: <%= @booking.jet.name %></p>
    <p>Booking status: <%= @booking.booking_status %></p>
    <p>From: <%= @booking.jet.origin %></p>
    <p>To: <%= @booking.destination %></p>
    <p>Start date: <%= @booking.start_date %></p>
    <p>End date: <%= @booking.end_date %></p>
    <p>Passengers: <%= @booking.passengers %></p>
    <p>Total price: $ <%= @booking.total_price %></p>

    <% if (@booking.jet.user === @booking.user) %>
      <% if (@booking.booking_status === "Unconfirmed") %>
        <%= link_to "Accept", booking_path(@booking, booking: {booking_status: "Confirmed"}), method: "patch", class: "btn btn-primary" %>
        <%= link_to "Reject", booking_path(@booking, booking: {booking_status: "Rejected"}), method: "patch", class: "btn btn-danger" %>
      <% end %>
    <% else %>
      <%= link_to "Edit booking", edit_booking_path(@booking), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

