<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky">
  <%= link_to '✈ Jetsetters', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'View all jets', jets_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'List a new jet', new_jet_path, class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "My bookings", user_dashboards_path(current_user), class: "nav-link" %>
        </li>
      <% end %>
      
    </ul>

    <% if user_signed_in? %>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-outline-light my-2" %>
    <% else %>
      <div class="mr-3">
        <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-outline-light my-2" %>
      </div>
      <%= link_to 'Log in', new_user_session_path, class: "btn btn-outline-light my-2" %>
    <% end %>

  </div>
</nav>