<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1474302770737-173ee21bab63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1564&q=80);">
  <div class="container text-center">
    <h1>Jetsetter</h1>
    <p>Live a high life</p>
  </div>

  <div class="container justify-content-center">

    <%= form_tag jets_path, method: :get do %>
    <%= text_field_tag :departure,
        params[:departure],
        class: "form-control",
        placeholder: "departure"
    %>

    <%= text_field_tag :arrival,
        params[:arrival],
        class: "form-control",
        placeholder: "arrival"
    %>

    <%= number_field_tag :passengers,
        params[:passengers],
        class: "form-control",
        placeholder: "passengers"
    %>

    <%= date_field_tag :start_date,
        params[:start_date],
        class: "form-control",
        placeholder: "start_date"
    %>

    <%= date_field_tag :end_date,
        params[:end_date],
        class: "form-control",
        placeholder: "end_date"
    %>

    <%= submit_tag 'Search', class: "btn btn-primary" %>
    <% end %>
  
  <div class="container">
		<div class="row align-items-center">
			<%= link_to 'List your Jet', new_jet_path(@jet), class: "btn btn-primary" %>

      <%= link_to 'View all jets', jets_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
