

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1474302770737-173ee21bab63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1564&q=80);">
  <div class="container text-center">
    <h1>Jetsetter</h1>
    <p>Live a high life</p>
  </div>

  <%= form_tag jets_path, method: :get do %>
    <%= text_field_tag :departure,
        params[:departure],
        class: "form-control",
        placeholder: "departure"
    %>

    <%= text_field_tag :arrival,
        params[:arrival],
        class: "form-control",
        placeholder: "arrival"
    %>

    <%= number_field_tag :passengers,
        params[:passengers],
        class: "form-control",
        placeholder: "passengers"
    %>

    <%= date_field_tag :start_date,
        params[:start_date],
        class: "form-control",
        placeholder: "start_date"
    %>

    <%= date_field_tag :end_date,
        params[:end_date],
        class: "form-control",
        placeholder: "end_date"
    %>

    <%= submit_tag 'Search', class: "btn btn-primary" %>
    <% end %>
<!--
    <form class="form-inline" method="get" novalidate>
        <div class="form-row">
            <label for="departure">
                <div class="d-block">
                    <div class="d-block">Departure</div>
                    <input type="text" class="form-control" id="departure" placeholder="Departure" value="JFK" required>
                </div>
            </label>
            
            <label for="arrival">
                <div class="d-block">
                    <div class="d-block">Arrival</div>
                    <input type="text" class="form-control" id="arrival" placeholder="Arrival" value="MIA" required>
                </div>
            </label>

            <label for="passenger">
                <div class="d-block">
                    <div class="d-block">Passengers</div>
                    <input type="integer" class="form-control" id="passenger" placeholder="Passengers" aria-describedby="inputGroupPrepend" required>
                </div>
            </label>
        
            <label for="start_date">
                <div class="d-block">
                    <div class="d-block">Start date</div>
                    <input type="datetime-local" class="form-control" id="start_date" placeholder="Start Date" required>
                </div>
            </label>

            <label for="end_date">
                <div class="d-block">
                    <div class="d-block">End date</div>
                    <input type="datetime-local" class="form-control" id="end_date" placeholder="End Date" required>
                </div>
            </label>

            <a class="btn btn-light" href="http://localhost:3000/jets"><i class="fas fa-search"></i></a>
        </div>
    </form> 
    -->
</div>

<footer>
    <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
</footer>