<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1474302770737-173ee21bab63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1564&q=80);">
  <div class="container text-center">
    <h1>Jetsetters</h1>
    <p>Live a high life</p>
  </div>

  <div class="container justify-content-center display-inline-block">

    <%= form_tag jets_path, method: :get do %>
    <%= text_field_tag :departure,
        params[:departure],
        class: "form-control",
        placeholder: "Departure"
    %>

    <%= text_field_tag :arrival,
        params[:arrival],
        class: "form-control",
        placeholder: "Arrival"
    %>

    <%= number_field_tag :passengers,
        params[:passengers],
        class: "form-control",
        placeholder: "Passengers"
    %>

    <%= date_field_tag :start_date,
        params[:start_date],
        class: "form-control date-field",
        placeholder: "Start date"
    %>

    <%= date_field_tag :end_date,
        params[:end_date],
        class: "form-control date-field",
        placeholder: "End date"
    %>

    <%= submit_tag 'Search', class: "btn btn-primary" %>
    <% end %>
  </div>
</div> 

<div class="container">
	<div class="row justify-content-md-center m-3">
    <div class="card m-3 p-6">
      <%= link_to 'List your Jet', new_jet_path(@jet), class: "card-img-top" %>
    </div>
    <div class="card m-3 p-6">
      <%= link_to 'View all jets', jets_path, class: "card-img-top" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row col-12 col-md-12 col-lg-6">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1533229613598-751dc97ec35f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="card-img-top" alt="list-your-jet">
    </div>
  </div>
  <div class="row col-12 col-md-12 col-lg-6">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1512100356356-de1b84283e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=709&q=80" class="card-img-top" alt="list-your-jet">
    </div>
  </div>
</div>

<div class="container my-3 text-center">
	<div class="about-us">
		<h2 class="my-3">About Us</h2>
		<p class="m-3">Luxurious private jets listed for your convience. Live your dream in the clouds.</p>
  </div>
</div>

<div class="container my-3 text-center">
	<div class="offer">
		<h2 class="my-3">What we offer</h2>
    <ul>
      <li>
      Luxurious features
      </li>
      <li>

      </li>
    </ul>
  </div>
</div>

<footer>
    <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
</footer>