
<div class="tabs-container">

    <% bookings = [] %>
    <% listings = [] %>

    <h2>Your bookings</h2>

    <% if @user.bookings.present? %>
        <% @user.bookings.each do |booking| %>
            <% if booking.jet.user === current_user %>
                <% listings << booking %>
            <% else %>
                <% bookings << booking %>
            <% end %>
        <%end%>
    <% end %>

    <% if bookings.present? %>
        <table class="bookings-table">
            <thead>
                <tr>
                    <th class="sm">ID</th>
                    <th>Jet Name</th>
                    <th class="md">Owner</th>
                    <th class="md">From</th>
                    <th class="md">Until</th>
                    <th class="sm">Origin</th>
                    <th class="sm">Destination</th>
                    <th class="md">PAX</th>
                    <th>Status</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% bookings.each do |booking| %>
                    <tr>
                        <th scope="row" class="sm"><%= booking.id %></th>
                        <td><%= link_to booking.jet.name, jet_path(booking.jet.id) %></td>
                        <td class="md"><%= booking.jet.user.first_name %> <%= booking.jet.user.last_name %></td>
                        <td class="md"><%= booking.start_date %></td>
                        <td class="md"><%= booking.end_date %></td>
                        <td class="sm"><%= booking.jet.origin %></td>
                        <td class="sm"><%= booking.destination %></td>
                        <td class="md"><%= booking.passengers %></td>
                        <td><%= booking.booking_status %></td>
                        <td><%= link_to icon('fas', 'edit'), edit_booking_path(booking), { class: "Edit"} %></td>
                        <td><%= link_to icon('fas', 'info-circle'), booking_path(booking), { class: "Show Details"} %></td>
                    </tr>
                <%end%>
            </tbody>
        </table>
    <% else %>
        <div class="notice">You don't have any booking yet</div>
    <% end %>
</div>


<div class="tabs-container">

    <h2>Your listings</h2>
    
    <% if listings.present? %>
        <table class="bookings-table">
            <thead>
                <tr>
                    <th class="sm">ID</th>
                    <th class="sm">Jet Name</th>
                    <th>Renter</th>
                    <th class="md">From</th>
                    <th class="md">Until</th>
                    <th class="md">Origin</th>
                    <th class="md">Destination</th>
                    <th class="md">PAX</th>
                    <th>Status</th>
                    <th colspan="3">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% listings.each do |booking| %>
                    <tr>
                        <th scope="row" class="sm"><%= booking.id %></th>
                        <td class="sm"><%= link_to booking.jet.name, jet_path(booking.jet.id) %></td>
                        <td><%= booking.user.first_name %> <%= booking.user.last_name %></td>
                        <td class="md"><%= booking.start_date %></td>
                        <td class="md"><%= booking.end_date %></td>
                        <td class="md"><%= booking.jet.origin %></td>
                        <td class="md"><%= booking.destination %></td>
                        <td class="md"><%= booking.passengers %></td>
                        <td><%= booking.booking_status %></td>
                        <% if booking.booking_status == "Unconfirmed" %>
                            <td><%= link_to icon('fas', 'check'), booking_path(booking, booking: {booking_status: "Confirmed"}), method: "patch" %></td>
                            <td><%= link_to icon('fas', 'times'), booking_path(booking, booking: {booking_status: "Rejected"}), method: "patch" %></td>
                        <% end %>
                        <td><%= link_to icon('fas', 'info-circle'), booking_path(booking), { class: "Show Details"} %></td>
                    </tr>
                <%end%>
            
            </tbody>
        </table>
    <% else %>
        <div class="notice">You don't have any listing yet</div>
    <% end %>
</div>

<div class="w-100 d-flex justify-content-around mb-5">
    <%= link_to 'Back to Homepage', :root, class: "btn btn-info" %>
</div>