<!DOCTYPE html>
<html>
  <head>
    <title>RailsJetsetter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <a class="navbar-brand" href="#">Jetsetters</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%# <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> %>
            <%= link_to 'Home', root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%# <a class="nav-link" href="#">About Us</a> %>
            <%= link_to 'About Us', root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%# <a class="nav-link" href="#">View all jets</a> %>
          </li>
          <li class="nav-item">
            <%# <a class="nav-link" href="#">View all jets</a> %>
            <%= link_to 'View all jets', jets_path, class: "nav-link" %>
          </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>-->

        <!-- <button class="btn btn-outline-light my-2 my-sm-0">Sign up</button>
        <button class="btn btn-outline-light my-2 my-sm-0" >Log in</button> -->
      <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-outline-light my-2" %>
      <%= link_to 'Log in', new_user_session_path, class: "btn btn-outline-light my-2" %>

      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer>
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </footer>
  </body>
</html>
