<!DOCTYPE html>
<html>
  <head>
    <title>✈ Jetsetters</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <%= link_to '✈ Jetsetters', root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to 'Home', root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item">
            <%= link_to 'View all jets', jets_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My bookings", user_dashboards_path(current_user), class: "nav-link" %>
          </li>
        </ul>
        
        <!--<form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>-->

        <% if user_signed_in? %>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-outline-light my-2" %>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-outline-light my-2" %>
          <%= link_to 'Log in', new_user_session_path, class: "btn btn-outline-light my-2" %>
        <% end %>

      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
